# Opcional: sobreescriu les claus de Supabase (per defecte ja estan a src/config.ts)
VITE_SUPABASE_URL=https://wjmueahoakqooyxkhfnl.supabase.co
VITE_SUPABASE_KEY=sb_publishable_8C1s4MRZrHAI06AO9WdASg_UcloREQM
